<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
      
<configuration>  
    <!-- 全局别名设置，在映射文件中只需写别名，而不必写出整个类路径  -->  
    <typeAliases>    
         <typeAlias type="com.huawei.model.Person" alias="Person"/>  
    </typeAliases>     
      <mappers>  
        <mapper resource="com/huawei/mapping/PersonMapper.xml" />
    </mappers>
</configuration>


<!-- 以下是官网示例 -->
<!-- Using classpath relative resources -->
<!-- <mappers>
  <mapper resource="org/mybatis/builder/AuthorMapper.xml"/>
  <mapper resource="org/mybatis/builder/BlogMapper.xml"/>
  <mapper resource="org/mybatis/builder/PostMapper.xml"/>
</mappers> -->
<!-- Using url fully qualified paths -->
<!-- <mappers>
  <mapper url="file:///var/mappers/AuthorMapper.xml"/>
  <mapper url="file:///var/mappers/BlogMapper.xml"/>
  <mapper url="file:///var/mappers/PostMapper.xml"/>
</mappers> -->
<!-- Using mapper interface classes -->
<!-- <mappers>
  <mapper class="org.mybatis.builder.AuthorMapper"/>
  <mapper class="org.mybatis.builder.BlogMapper"/>
  <mapper class="org.mybatis.builder.PostMapper"/>
</mappers> -->
<!-- Register all interfaces in a package as mappers -->
<!-- <mappers>
  <package name="org.mybatis.builder"/>
</mappers> -->